body {
    background-color: rgb(195, 235, 233);
}
ol,h1,p {
    margin-left: 40px;
}

div {

    border: solid;
    border-color: black;
    font-family: monospace;
    font-size: large;
   
}


input, button{

    margin: 40px;
    border: solid;
    padding: 5px 20px;
    background-color: rgb(255, 255, 255);
    border-color: rgb(0, 0, 0);
    
    text-align: center;
    border-radius: 10px;
    transition: transform .1s;
    
}

button:active{
    transform: scale(1.1);
}

input {
  margin-left: 40px;

}