body {
    background-color: rgb(195, 235, 233);
}
ol {
    margin-left: 40px;
}

div {

    border: solid;
    border-color: black;
    font-family: fantasy;
    font-size: xx-large;
   
}


input, button{

    margin: 20px;
    border: solid;
    padding: 15px 40px;
    background-color: rgb(255, 255, 255);
    border-color: rgb(0, 0, 0);
    font-size: 15px;
    border-radius: 10px;
    transition: transform .1s;
    
}

button:active{
    transform: scale(1.1);
}

#div {




}